//Thuộc tính wrapper mặc định của button là phải có các thuộc tính css này
.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family-primary);
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;

    //CSS các nút đứng cạnh nhau
    + .wrapper {
        margin-left: 8px;
        // font-family: 'IBM Plex Sans', san-serif !important;
    }

    //CSS nút trạng thái disabled
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

span.Button_title__yIuSg {
    color: #000 !important;
}

//Xử lý icon trái phải đều cách title
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    width: 24px;
    display: flex;
    text-align: center;
    align-items: center;
}

//Button types
.rounded {
    border-radius: 24px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.22);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.2);
    }
} //Xử lý vấn đề xung đột giữa hover các nút primary và rounded. Cách khắc phục: ưu tiên primary

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary); //Đã xử lý vấn đề: Border

    &:hover {
        background-color: var(--primary); //Đã xử lý vấn đề: Border
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor; //Xử lý vấn đề xung đột hover giữa các nút outline và rounded
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 168px;
    padding: 12px 24px;
}
